 .content{
    background: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-clip: content-box;
 }
 h1{
    color:#8e4040;
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 0 10px 15px whitesmoke;
    font-family:'Times New Roman', Times, serif;
    position: relative;
    letter-spacing: 0.7cm;
}

p{
    padding:3rem;
    width: 80vw;
    height: fit-content;
    text-align: justify;
    color: rgb(0, 0, 0);
    margin:auto;
    font-size:22px;
    /* background: rgba(255, 255, 255, 0.53); */
    border-radius: 12px;
    opacity: 12px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.811);
}